@model IEnumerable<HotelHell_Models.Hotel.HotelListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFavorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnyVacancies)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFavorite, new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnyVacancies)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { hotelId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { hotelId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { hotelId = item.Id })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var hotelId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/hotel/" + hotelId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status.");
                        });
                });
        });
    </script>
}